node_modules./.git/objects/pack/pack-b182eec8cb24727b449e9a63ca0eef7b8953bb09.pack
./.next/cache/webpack/client-development/5.pack
./node_modules/@next/swc-linux-x64-musl/next-swc.linux-x64-musl.node
./node_modules/@next/swc-linux-x64-gnu/next-swc.linux-x64-gnu.node
./.git/objects/pack/pack-b182eec8cb24727b449e9a63ca0eef7b8953bb09.pack
./.next/cache/webpack/client-development/5.pack

node_modules
.next
